<a href="https://colab.research.google.com/github/YugyeongJo/study_data_analytics/blob/main/docs/quests/EDAs/preprocessing_titanic_train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df_TFD = pd.read_csv('/content/TitanicFromDisaster_train (1).csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [3]:
df_TFD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df_TFD.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## 1. Age' 열에서 결측치를 평균 나이로 채우기.

In [5]:
df_TFD_01 = df_TFD.copy()

In [6]:
df_TFD_01.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
mean_Age = df_TFD_01.describe().loc['mean', 'Age']

In [8]:
df_TFD_01['Age'].fillna(mean_Age, inplace=True)

In [9]:
df_TFD_01.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## 2. Cabin' 열에 결측치가 있는 행을 찾고, 해당 행들의 평균 'Fare' 계산하기.

In [10]:
df_TFD_02 = df_TFD.copy()

In [11]:
df_TFD_02.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
df_TFD_02_missing_value = df_TFD_02[df_TFD_02['Cabin'].isnull()]

In [13]:
df_TFD_02_missing_value.describe().loc['mean', 'Fare']

19.157325327510915

## 3. Embarked' 열에서 결측치가 있는 행을 찾고, 가장 많이 등장하는 항구로 채우기.

In [14]:
df_TFD_03 = df_TFD.copy()

In [15]:
df_TFD_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [16]:
df_TFD_03_missing_value = df_TFD_03[df_TFD_03['Embarked'].isnull()]
df_TFD_03_missing_value

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [17]:
df_TFD_03['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [18]:
df_TFD_03_Embarked = df_TFD_03['Embarked'].fillna("S", inplace=True)
df_TFD_03['Embarked'].isnull().sum()

0

## 4. 'Fare' 열에서 평균보다 3 표준편차(mean + 3 * std) 이상 높은 이상치를 가진 행들을 찾기.

In [19]:
df_TFD_04 = df_TFD.copy()

In [20]:
df_TFD_04_Fare_mean = df_TFD_04.describe().loc["mean", 'Fare']
df_TFD_04_Fare_std = df_TFD_04.describe().loc["std", 'Fare']
df_TFD_04_Fare_standard_deviation = df_TFD_04_Fare_mean + (3*df_TFD_04_Fare_std)

df_TFD_04[df_TFD_04['Fare'] >= df_TFD_04_Fare_standard_deviation]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.5000,C82,C
380,381,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
557,558,0,1,"Robbins, Mr. Victor",male,NaN,0,0,PC 17757,227.5250,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.0,0,1,24160,211.3375,B5,S
700,701,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,PC 17757,227.5250,C62 C64,C
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.0,0,0,PC 17757,227.5250,C45,C
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S

## 5. SibSp' (형제 자매/배우자 수)가 5 이상인 이상치를 가진 행들을 찾기.

In [21]:
df_TFD_05 = df_TFD.copy()

In [22]:
df_TFD_05[df_TFD_05['SibSp'] >= 5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.90,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.90,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.55,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.55,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.55,NaN,S
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.55,NaN,S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.0,5,2,CA 2144,46.90,NaN,S
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.0,5,2,CA 2144,46.90,NaN,S
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.0,5,2,CA 2144,46.90,NaN,S
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.55,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.55,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.55,NaN,S

## 6. Parch' (부모/자녀 수) 열에서 0이 아닌 값을 가진 행들의 평균 'Age' 계산하기.

In [23]:
df_TFD_06 = df_TFD.copy()

In [24]:
df_TFD_06_not_zero = df_TFD_06.query('Parch != 0')
df_TFD_06_not_zero.describe().loc['mean', 'Age']

23.006062176165802

## 7. Fare'가 0인 행들을 찾고, 이를 평균 'Fare'로 채우기.

In [25]:
df_TFD_07 = df_TFD.copy()

In [26]:
df_TFD_07_Fare_mean = df_TFD_07.describe().loc['mean', 'Fare']

In [27]:
df_TFD_07['Fare'].replace(0,df_TFD_07_Fare_mean)

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

## 8. 'Pclass' (티켓 등급)가 1등급인 승객들 중 'Cabin' 열의 결측치 비율 계산하기.

In [28]:
df_TFD_08 = df_TFD.copy()

In [61]:
condition = 'Pclass == 1'
df_TFD_08_1prize = df_TFD_08.query(condition)
a = df_TFD_08_1prize.isnull().sum()['Cabin']
b = len(df_TFD_08_1prize)
b=df_TFD_08_1prize['Cabin'].value_counts().sum()
# b=df_TFD_08['Pclass'].value_counts()[1].sum()
(a/b)*100, a,b

(22.727272727272727, 40, 176)

## 9. 'Age'에는 결측치가 있고, 'Fare'은 0인 행들을 찾기.

In [72]:
df_TFD_09 = df_TFD.copy()

In [73]:
df_TFD_09['Age'].fillna('non', inplace=True)

In [76]:
condition01 = 'Age == "non"'
condition02 = 'Fare == 0'
conditions = f"{condition01} and {condition02}"
df_TFD_09.query(conditions)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,non,0,0,239853,0.0,NaN,S
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,non,0,0,239853,0.0,NaN,S
466,467,0,2,"Campbell, Mr. William",male,non,0,0,239853,0.0,NaN,S
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,non,0,0,239854,0.0,NaN,S
633,634,0,1,"Parr, Mr. William Henry Marsh",male,non,0,0,112052,0.0,NaN,S
674,675,0,2,"Watson, Mr. Ennis Hastings",male,non,0,0,239856,0.0,NaN,S
732,733,0,2,"Knight, Mr. Robert J",male,non,0,0,239855,0.0,NaN,S
815,816,0,1,"Fry, Mr. Richard",male,non,0,0,112058,0.0,B102,S

## 10. Sex' 열에서 값이 'male' 또는 'female'이 아닌 이상치를 가진 행들을 찾기.

In [77]:
df_TFD_10 = df_TFD.copy()

In [81]:
df_TFD_10['Sex'].value_counts() # 이상치 없음

male      577
female    314
Name: Sex, dtype: int64